/*
 * Стили компонента ImageGallery
 */
.gallery {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 10px;
    row-gap: 15px;
    margin-top: 10;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: 13px;
  
}
